@charset "utf-8";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    margin: 0;
    padding: 0;
    height: 46px;
    display: block;
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
    background-position: left center;

    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.badge {
    float: right;
    margin-top: 15px;
}

#timestamp {
    float: right;
    padding-top: 5px;
}

a,
a:hover,
a:focus {
    display: block;
    color: #000;
    text-decoration: none;
}


ul > li > a.btn {
    float: right;
}
ul > li > a.btn > span {
    padding-right: 5px;
}

div > ul > li > ul {
    margin-top: 10px;
}
ul > li > a > div > div:nth-child(1) {
    font-weight: bold;
    font-size: 16px;
    padding-right: 0px;
}
ul > li > a > div > div:nth-child(2),
ul > li > a > div > div:nth-child(3) {
    font-size: 13px;
    margin-top: 3px;
    padding-right: 0px;
}

.panel-default {
    margin-bottom: 15px;
}
.panel-default > .panel-heading {
    border-radius: 2px;
    background-image: linear-gradient(to bottom,#6C6C6C 0,#000 100%);
        color: #FFF;
}
.panel-default > .panel-heading > a,
.panel-default > .panel-heading > a:hover,
.panel-default > .panel-heading > a:focus {
    color: #FFF;
}

.list-group {
    margin-bottom: 0px;
    -webkit-box-shadow: none;
}

.table {
    margin-bottom: 0px;
}

#collapsePrice > li > div[id*=collapse] {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#collapseMember > a > span {
    padding-left: 5px;
}
#collapseMemberT > div > a {
    font-size: 10px;
}

body > footer > p {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}
